<!DOCTYPE html>
<html>
<head>
    <title>Report View</title>
    <style>
        .div_report {
            float: left; 
            line-height: 50px; 
            font-size: 20px; 
            background: dodgerblue; 
            color: white; 
            margin-top: 10px; 
            width: 150px; 
            margin-right: 10px; 
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Отчет по остаткам</h1>
<a href="/app">Назад</a>
<div>        
{% for el in data %}
    <div class="div_report">
        <div>
            {{ el.stock }} : {{ el.sum }}
        </div>
    {% for item in el.items %}
        <em>item_{{ item.item }} : {{ item.balance }} pcs</em>
    {% endfor %}
    </div>
{% endfor %}
</div>
</body>